<div class="container">

<div class="panel panel-default">
  <div class="panel-body" style="background-color: #FAFAFA;">
<h1 class="title">
  <%= @post.title %>
</h1>

<p class="date">
  Submitted <%= time_ago_in_words(@post.created_at) %> ago
  <% if user_signed_in? %>
  | <%= link_to 'Edit', edit_post_path(@post), class:"devisecolors" %>
  | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete the post ?'},  class: "devisecolors" %>
  <% end %>
</p>

<p>
  <%= @post.body %>
</p>
</div>
</div>

<br>



 <h2><%= @post.comments.count %> Comments :</h2>
  <%= render @post.comments %>


 <div class="panel panel-default">
   <div class="panel-body" style="background-color: #FAFAFA;">
  <h3>Add a comment:</h3>
  <%= render "comments/form" %>
</div>
 </div>
</div>
